*.swp
*.log
*log*
*temp*
*tmp*
*fifo*

offlineimap/
vim/plugged/
vim/memcolo_color.vim
vim/color.vim
vim/spell/*.utf-8.spl
vim/spell/*.utf-8.sug
weechat/logs
weechat/script
weechat/*.cache

vim/.undo/
vim/.backup/
